/*body{
    margin:  0 0 0 0;
    padding: 0 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    width:100%;
    height:100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#id_container_content {
    position: absolute;
    padding: 0;
    right: 0;
    margin: 0 0 0 0;
    width: 100%;
    z-index: 0;
    height: auto;
    background-color: white;
    display: block;
    border-top: 1px solid #dadada;
}




header{
    position: fixed;
    z-index: 100;
    top: 0;
    float: left;
    clear: both;
    width: 100%;
    box-sizing: border-box;
}

header .header{
    box-sizing: border-box;
    background: #232E78;
    color: white;
    padding: 0px 10px;
    width: 100%;
    float: left;
    position: relative;
    clear: both;
    overflow: visible;
    height: 70px;
}
.app-name{
    font-size: 2em;
    font-weight: bold;
    margin: 20px 10px;
    float: left;
}

.logo-emtelco{
    float: right;
    width: 150px;
    height: 50px;
    margin: 10px 0px;
}

.logo-emtelco img{
    width: auto;
    height: 100%;
}

footer{
    float: right;
    display: block;
    width: 100%;
    height: 70px;/
    background-color: #f0f0f0;
    margin-top: 100px;
    position: relative;
    text-align: center;
    padding: 10px;
    border-top: 1px solid #dadada;
    font-size: 0.9em;
}

.main-row{
	margin-top: 49px;
}

.dl-horizontal dt {
    float: left;
    width: 200px;
    overflow: hidden;
    clear: left;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap

.modal-dialog{
    z-index: 1041;

}*/
