// Superhero 3.1.1
// Bootswatch
// -----------------------------------------------------

@import url("//fonts.googleapis.com/css?family=Roboto:300,400,700");

// Navbar =====================================================================

.navbar {
  .box-shadow(none);
  border: none;
  font-size: 12px;

  &-default {

    .badge {
      background-color: #fff;
      color: @navbar-default-bg;
    }
  }

  &-inverse {

    .badge {
      background-color: #fff;
      color: @navbar-inverse-bg;
    }
  }
}

// Buttons ====================================================================

.btn {

  font-weight: 300;

  &-default {
    &:hover {
      background-color: darken(@btn-default-bg, 3%);
    }
  }

  &-sm,
  &-xs {
    font-size: 12px;
  }
}

// Typography =================================================================

body {
  font-weight: 300;
}

.text-primary,
.text-primary:hover {
  color: @brand-primary;
}

.text-success,
.text-success:hover {
  color: @brand-success;
}

.text-danger,
.text-danger:hover {
  color: @brand-danger;
}

.text-warning,
.text-warning:hover {
  color: @brand-warning;
}

.text-info,
.text-info:hover {
  color: @brand-info;
}

.page-header {
  border-bottom-color: @table-border-color;
}

.dropdown-menu {

  border: none;
  margin: 0;
  .box-shadow(none);

  > li > a {
    font-size: 12px;
    font-weight: 300;
  }
}

.btn-group.open .dropdown-toggle {
  .box-shadow(none);
}

.dropdown-header {
  font-size: 12px;
}

// Tables =====================================================================


input,
textarea {
  color: @input-color;
}

.table {
 	background-color: white; 
}

.table>caption+thead>tr:first-child>td, 
.table>caption+thead>tr:first-child>th, 
.table>colgroup+thead>tr:first-child>td, 
.table>colgroup+thead>tr:first-child>th, 
.table>thead:first-child>tr:first-child>td, 
.table>thead:first-child>tr:first-child>th {
    background-color: @btn-default-bg;
	font-weight: 400;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  line-height: 1.846153846;
  vertical-align: middle;
  border-top: 1px solid rgba(189, 193, 193, 0.2);
}

label,
.radio label,
.checkbox label,
.help-block {
  font-size: 12px;
  font-weight: 300;
}

.input-addon,
.input-group-addon {
  color: @text-color;
}

.has-warning {
  .help-block,
  .control-label,
  .form-control-feedback {
    color: @brand-warning;
  }
}

.has-error {
  .help-block,
  .control-label,
  .form-control-feedback {
    color: @brand-danger;
  }
}

.has-success {
  .help-block,
  .control-label,
  .form-control-feedback {
    color: @brand-success;
  }
}

.form-control:focus {
  .box-shadow(none);
}

.has-warning,
.has-error,
.has-success {
  .form-control:focus {
    .box-shadow(none);
  }
}

// Navs =======================================================================

.nav {
  .open > a,
  .open > a:hover,
  .open > a:focus {
    border-color: transparent;
  }
}

.nav-tabs {
  > li > a {
    color: @text-color;
  }
}

.nav-pills {
  > li > a {
    color: @text-color;
  }
}

.pager {
  a {
    color: @text-color;
  }
}

// Indicators =================================================================

.close {
  opacity: 0.4;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.label {
  font-weight: 300;
}


// Progress bars ==============================================================

// Containers =================================================================

.well {
  .box-shadow(none);
}

.panel {
  border: none;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

.thumbnail {
  background-color: @well-bg;
  border: none;
}

.modal {
  padding: 0;

  &-header,
  &-footer {
    background-color: @table-bg-hover;
    border: none;
    border-radius: 0;
  }
}

.popover {
  &-title {
    border: none;
  }
}
