{% load adminlte_helpers i18n %}
<header class="main-header">
    <!-- Logo -->
    {% block logo %}
    <a href="{% block logo_href %}/{% endblock %}" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">{% block logo_text_small %}<b>e</b>{% endblock %}</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">{% block logo_text %}<b>SGO</b>{% endblock %} <b>emtelco</b></span>
    </a>
    {% endblock %}

    <!-- Header Navbar: style can be found in header.less -->
    {% block nav_bar %}
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                {% block header_dropdowns %}
                    {% if request.user.is_authenticated %}
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="{% avatar_url size=50 %}" class="user-image" alt="User Image">
                                <span class="hidden-xs">{% firstof request.user.get_short_name request.user.get_username %}</span>
                            </a>
                            <ul class="dropdown-menu">
                                {% block user_header %}
                                <li class="user-header">
                                    <p>
                                        {% firstof request.user.get_short_name request.user.get_username %}
                                        <small>Miembro desde {{ request.user.date_joined|date:"Y-m-d" }}</small>
                                        <a href="{% url 'logout' %}" class="btn btn-default"><i class="fa fa-sign-out"></i> Cerrar sesión</a>
                                    </p>
                                </li>
                                {% endblock %}

                                <!-- Menu Footer-->
                                {% block menu_footer %}

                                {% endblock %}

                            </ul>
                        </li>
                        {% else %}
                        <li class="dropdown user user-menu">
                            <a href="{% url 'login' %}" >
                                <span class="hidden-xs"><i class="fa fa-sign-in"></i> Iniciar sesión</span>
                            </a>
                        </li>

                    {% endif %}
                {% endblock header_dropdowns %}
            </ul>
        </div>
    </nav>
    {% endblock %}
</header>
