{% load i18n %}
{% load base_tags %}

<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        {% block nav_links_ul %}
        <ul class="sidebar-menu">
            {% block nav_links_outer %}
            {% block nav_links %}
            <li class="treeview menu_request">
                <a href="#">
                    <i class="fa fa-ticket"></i> <span>Requerimientos</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-down pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="{% add_active 'requestdesk:request_approval_create' exact_match=True %}">
                        <a href="{% url 'requestdesk:request_approval_create' %}">
                            <i class="fa fa-plus"></i> Crear
                        </a>
                    </li>
                    <li class="{% add_active 'requestdesk:requests' exact_match=True %}">
                        <a href="{% url 'requestdesk:requests' %}">
                            <i class="fa fa-search"></i> Consultar
                        </a>
                    </li>

                </ul>
            </li>
            {% endblock nav_links %}
            {% endblock nav_links_outer %}
        </ul>
        {% endblock nav_links_ul %}
    </section>
    <!-- /.sidebar -->
</aside>
