{% load i18n %}
{% load base_tags %}

<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        {% block nav_links_ul %}
        <ul class="sidebar-menu" data-widget="tree">
            {% block nav_links_outer %}
            {% block nav_links %}
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-ticket"></i> <span>Titulo Menu</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="{% # add_active 'requestdesk:approval_request_create' exact_match=True %}">
                        <a id="load_form_request" href="{% # url 'requestdesk:approval_request_create' %}">
                            <i class="fa fa-plus"></i> Crear
                        </a>
                    </li>
                    <li class="{% # add_active 'requestdesk:requests' exact_match=True %}">
                        <a id="load_requests" href="{% # url 'requestdesk:requests' %}">
                            <i class="fa fa-search"></i> Consultar
                        </a>
                    </li>

                </ul>
            </li>
            <li class="treeview">
                <a id="load_requests" href="#">
                    <i class="fa fa-area-chart"></i> <span>Pendientes por asignar</span>
                </a>
            </li>



                <!-- <div class= "menu col-sm-3">
                    <ul class="nav nav-pills nav-stacked list-unstyled" id="menu">
                        <li role="presentation" class="active"><a id="load_dashboard" Dashboard</a></li>
                        <li role="presentation"><a href="#">Requerimientos</a>
                          <ul>
                              <li><a id="load_form_request" href="#">Crear requerimiento</a></li>
                              <li><a id="load_requests" href="{%url  'requestdesk:requests' %}">Consultar requerimientos</a></li>
                              <li><a id="load_asign_requests" href="#">Asignar requerimientos a psicólogos</a></li>
                              <li><a href="{% url 'requestdesk:psychologist_requests' %}">Consultar cargas de psicólogos.</a>
                                <ul>
                                    <li><a id="load_form_request" href="#">Crear sub-requerimiento</a></li>
                                    <li><a id="load_requests" href="#">Requerimientos pendientes de asignación</a></li>
                                </ul>
                              </li>
                          </ul>
                        </li>
                    </ul>
                </div> -->

            {% endblock nav_links %}
            {% endblock nav_links_outer %}
        </ul>
        {% endblock nav_links_ul %}
    </section>
    <!-- /.sidebar -->
</aside>
