{% load static %}

{% block scripts %}
<script src="{% static "jquery/1.11.2/jquery.min.js" %}"></script>
<script>window.jQuery || document.write('<script src="{% static "bootstrap/js/vendor/jquery-1.11.2.min.js" %}"><\/script>')</script>
<script src="{% static "jquery-ui/1.11.4/jquery-ui.min.js" %}"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>
<script type="text/javascript" src="{% static "admin-lte/dist/js/app.min.js" %}"></script>
<script type="text/javascript">
    var $body = $('body');
    $($.AdminLTE.options.sidebarToggleSelector).click(function () {
        localStorage.setItem('sidebar', $body.hasClass('sidebar-collapse') ? 1 : 0);
    });
    if (localStorage.getItem('sidebar') === '0') {
        $body.addClass('disable-animations sidebar-collapse');
        requestAnimationFrame(function () {
          $body.removeClass('disable-animations');
        });
    }    
</script>
<script type="text/javascript" src="{% static "bootstrap/js/vendor/bootstrap.min.js" %}"></script>
<script type="text/javascript" src="{% static "bootstrap/js/main.js" %}"></script>

<script type="text/javascript" src="{% static "select2/js/select2.min.js" %}"></script>
<script type="text/javascript" src="{% static "datatables/1.10.16/js/jquery.dataTables.min.js" %}"></script>
<script type="text/javascript" src="{% static "datatables/1.10.16/js/dataTables.bootstrap.min.js" %}"></script>
<script type="text/javascript" src="{% static "datatables/responsive/2.1.1/js/dataTables.responsive.min.js" %}"></script>
<script type="text/javascript" src="{% static "datatables/responsive/2.1.1/js/responsive.bootstrap.min.js" %}"></script>
<script type="text/javascript" src="{% static "datepicker/js/bootstrap-datepicker.min.js" %}"></script>
<script type="text/javascript" src="{% static "datepicker/js/bootstrap-datepicker.es.min.js" %}"></script>
<script type="text/javascript" src="{% static "timepicker/js/bootstrap-timepicker.min.js" %}"></script>
<script type="text/javascript" src="{% static "noty/jquery.noty.packaged.2.4.1.min.js" %}"></script>

<script type="text/javascript" src="{% static "requestdesk/js/script.js" %}"></script>
<script type="text/javascript" src="{% static "configapp/js/script.js" %}"></script>
<!--<script src="{% static "configapp/base.js" %}"></script>-->
{% endblock %}
