{% load static %}

{% block styles %}
<!--<link rel="stylesheet" type="text/css" href="{% static "admin/css/base.css" %}"/>-->
<link rel="stylesheet" type="text/css" href="{% static "bootstrap/dist/css/bootstrap.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "font-awesome/css/font-awesome.min.css" %}">

<link rel="stylesheet" type="text/css" href="{% static "datatables/1.10.16/css/dataTables.bootstrap.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "datatables/responsive/2.1.1/css/responsive.bootstrap.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "select2/css/select2.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "datepicker/css/bootstrap-datepicker.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "timepicker/css/bootstrap-timepicker.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "noty/animate.css" %}">

<link rel="stylesheet" type="text/css" href="{% static "configapp/css/admin-lte.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "configapp/css/all-skins.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "conflicts/conflicts.css" %}">

<link rel="apple-touch-icon" sizes="57x57" href="{% static "configapp/favicon/apple-icon-57x57.png" %}">
<link rel="apple-touch-icon" sizes="60x60" href="{% static "configapp/favicon/apple-icon-60x60.png" %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static "configapp/favicon/apple-icon-72x72.png" %}">
<link rel="apple-touch-icon" sizes="76x76" href="{% static "configapp/favicon/apple-icon-76x76.png" %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static "configapp/favicon/apple-icon-114x114.png" %}">
<link rel="apple-touch-icon" sizes="120x120" href="{% static "configapp/favicon/apple-icon-120x120.png" %}">
<link rel="apple-touch-icon" sizes="144x144" href="{% static "configapp/favicon/apple-icon-144x144.png" %}">
<link rel="apple-touch-icon" sizes="152x152" href="{% static "configapp/favicon/apple-icon-152x152.png" %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static "configapp/favicon/apple-icon-180x180.png" %}">
<link rel="icon" type="image/png" sizes="192x192"  href="{% static "configapp/favicon/android-icon-192x192.png" %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static "configapp/favicon/favicon-32x32.png" %}">
<link rel="icon" type="image/png" sizes="96x96" href="{% static "configapp/favicon/favicon-96x96.png" %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static "configapp/favicon/favicon-16x16.png" %}">
<link rel="manifest" href="{% static "configapp/favicon/manifest.json" %}">
<meta name="msapplication-TileColor" content="#00378B">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#00378B">

{% endblock %}
