h1,h2,h3,h4,h5, .main-header .logo span{ font-family:"VAG-Rounded","Helvetica Neue",Helvetica,Arial,sans-serif; letter-spacing: -0.1px }

/*
 * Skin: Blue
 * ----------
 */
.skin-blue .main-header .navbar {
  background-color: #00378B;
}
.skin-blue .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-blue .main-header .navbar .nav > li > a:hover,
.skin-blue .main-header .navbar .nav > li > a:active,
.skin-blue .main-header .navbar .nav > li > a:focus,
.skin-blue .main-header .navbar .nav .open > a,
.skin-blue .main-header .navbar .nav .open > a:hover,
.skin-blue .main-header .navbar .nav .open > a:focus,
.skin-blue .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-blue .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-blue .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
  background-color: #00378B;
  color: #D7D721;
}
@media (max-width: 767px) {
  .skin-blue .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-blue .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-blue .main-header .navbar .dropdown-menu li a:hover {
    background-color: #00378B;
    color: #DEBE08;
  }
}
/* LOGO */
.skin-blue .main-header .logo {
  background-color: #001F77;
  color: #ffffff;
  border-bottom: 0 solid transparent;
  font-size: 28px;
}
.skin-blue .main-header .logo:hover, .skin-blue.layout-top-nav .main-header > .logo:hover  {
  background-color: #001F77;
  color: #D7D721;
}
.skin-blue.layout-top-nav .main-header > .logo {
  background-color: #001F77;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
@media (min-width:768px){
  .sidebar-mini.sidebar-collapse .main-header .logo > .logo-mini {
      display: block;
      margin-left: -16px;
      margin-right: -15px;
      font-size: 50px;
      margin-top: 0px;
  }
}
/* FIN LOGO */

.skin-blue .main-header li.user-header {
  background-color: #00378B;
}
.skin-blue .content-header {
  background: transparent;
}
.skin-blue .wrapper,
.skin-blue .main-sidebar,
.skin-blue .left-side {
  background-color: #0066AC;
}
.skin-blue .user-panel > .info,
.skin-blue .user-panel > .info > a {
  color: #fff;
}
.skin-blue .sidebar-menu > li.header {
  color:#cde1ed;
  background-color:#328ac8;
}
.skin-blue .sidebar-menu > li > a {
  border-left: 3px solid transparent;
}
.skin-blue .sidebar-menu > li:hover > a,
.skin-blue .sidebar-menu > li.active > a {
  color: #ffffff;
  background: #005C9B;
  border-left-color: #D4D721;
}
.skin-blue .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #005C9B;
}
.skin-blue .sidebar a {
  color: #b8c7ce;
}
.skin-blue .sidebar a:hover {
  text-decoration: none;
}
.skin-blue .treeview-menu > li > a {
  color: #A9BFD3;
}
.skin-blue .treeview-menu > li > a:hover {
  color: #ffffff;
}
.skin-blue .sidebar-form {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px;
}
.skin-blue .sidebar-form input[type="text"],
.skin-blue .sidebar-form .btn {
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
}
.skin-blue .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-blue .sidebar-form input[type="text"]:focus,
.skin-blue .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-blue .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-blue .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
/* FIX SIDEBAR-MENU */
.sidebar-menu li.active>a>.fa-angle-left,
.sidebar-menu li.active>a>.pull-right-container>.fa-angle-left{
  -webkit-transform:rotate(-90deg);-ms-transform:rotate(-90deg);-o-transform:rotate(-90deg);transform:rotate(-90deg)
}

/* REGLAS PERSONALIZADAS - EMTELCO */
.table { margin-bottom: 4px; }
.table td, .table th { font-size: 13px; vertical-align: middle !important; }
.table th { font-size: 13px; }
.table>thead>tr>th { border-bottom: 2px solid #a9bfd3; }
.table { border-bottom: 1px solid #b6d0e8; }
.modal-backdrop { z-index: auto }
.box-footer { text-align: right }
.btn-xs { min-width: 22px }
.skin-blue .tooltip-inner {  background-color: #0066AC !important; color: #FFF;}
.skin-blue .tooltip.top .tooltip-arrow { border-top-color: #0066AC;}
.skin-blue .tooltip.right .tooltip-arrow { border-right-color: #0066AC;}
.skin-blue .tooltip.bottom .tooltip-arrow { border-bottom-color: #0066AC;}
.skin-blue .tooltip.left .tooltip-arrow { border-left-color: #0066AC; }
.text-required { color: red; }
.box-help { background-color: #fbf7dd; }
.box-help .box-title { font-size: 16px; }
.skin-blue .treeview-menu .active { margin-left: -6px; border-left: 3px solid #DEBE08 !important; color: white !important; background-color: #03538a; }
.skin-blue .treeview-menu .active > a { color: white !important }
.select2-container{ width: 100% !important; }
/*
.select2-selection--single{height: 34px !important; border:1px solid #d2d6de !important; border-radius:0px !important; }
.select2-container--default .select2-selection--single .select2-selection__arrow { top: 4px !important; right: 4px !important; }
*/

div.dataTables_wrapper div.dataTables_filter input {box-shadow:none;background-color:transparent;border:1px solid #ccc;height:30px}
table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
    border: 1px solid white; border-radius: 14px; box-shadow: none; box-sizing: content-box; text-align: center;
    font-family: 'VAG-Rounded', Courier, monospace; line-height: 15px; font-weight: bold; content: '+'; background-color: #0066AC;
}

/*.timeline>li>.fa, .timeline>li>.glyphicon, .timeline>li>.fa, .timeline>li>.ion {
    width: 20px !important;
    height: 20px !important;
    font-size: 11px !important;
    line-height: 22px !important;
    left: 23px !important;
    top: 9px !important;
}*/
