<!DOCTYPE html>
	<html lang="es">
	  <head>
	    <meta charset="utf-8">
	    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:700' rel='stylesheet' type='text/css'>
	  </head>
	  <style type="text/css">
	  body {
		  font-family: Roboto Condensed, sans-serif;
	  }
	  div.container{
		  margin: 0 auto;
		  width: 600px;
		  height: 600px;
	  }
	  div.header{
	    box-sizing: border-box;
		background: #232E78;
		color: white;
		padding: 10px 10px;
		width: 100%;
		position: relative;
		clear: both;
		overflow: visible;
		height: 50px;
		font-size: 25px;
		border-radius: 10px 10px 0 0;
		}
	  div.information{
		text-align: center;
		margin-top: 10px;
		
	  }
	  </style>
	  <body>
			<div class="container">
				<div class="header">
					<span style="float: left;">Alertas SGO - Desarrollo</span>
					<span style="float: right;">
						Emtelco
					</span>
				</div>
				<div class="information">
				<br><br>
					<span>
					{% if project_name %}
					<h1>{{ project_name|title }}</h1>
					{% endif %}
					<h2><strong>Alerta sobre grupos inexistentes en la aplicación</strong></h2>
					
					<br>
					<p class="lead"> El usuario:  <strong> {{ user }} </strong><br>
					
					
						Posee los siguientes grupos en LDAP y no existen en la aplicación :<br>
				
						{% for group in groups %}
				
						<strong>{{ group }}<br></strong>
				
						{% endfor %}
					</p>
					</span>
				</div>
			</div>
			</div>

	  </body>
	</html>
