{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
    <br clear="all"><br clear="all">
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <center><h4>Inicio de sesión</h4></center><br clear="all">
        <div class="table-responsive" align="center">
            <table>
                <tr>
                    <td width=400px>
                            {% include "partials/field.html" with field=form.username|attr:"id:id_user" %}
                    </td>
                </tr>
                <tr><td>&nbsp;</td></tr>
                <tr>
                    <td width=400px>
                            {% include "partials/field.html" with field=form.password|attr:"id:id_password" %}
                    </td>
                </tr>
                <tr>
                    <td align="right"><br><button type="submit" id="id_next" class="btn btn-primary" name="next">Ingresar</button></td>
                </tr>
            </table>
        </div>

        {% if request.GET.next %}

            <input type="hidden" name="next" value="{{ request.GET.next }}">

        {% else%}

            <input type="hidden" name="next" value="{% url 'login' %}">

        {% endif %}

        <input type="hidden" name="referer" value="{{ request.META.HTTP_REFERER }}">
    </form>

{% endblock content %}
