{% extends "base.html" %}

  {% block title %}Titulo página{% endblock title %}
  {% block page_name %}Título programa o módulo{% endblock page_name %}
  {% block page_description %}Subtitulo o descripción breve{% endblock page_description %}


  {% block breadcrumbs %}
    <ol class="breadcrumb">
      <li><a href="{%url 'requestdesk:requests' %"><i class="fa fa-user"></i> Módulo padre</a></li>
      <li class="active">Programa o módulo actual</li>
    </ol>
  {% endblock %}
  {% block content %}

  <!-- Main content -->
    <div class="row">
      <div class="col-md-12">
        <div class="box box-default">
          <div class="box-header with-border">
            <h3 class="box-title">Estándar de Estilos</h3>
          </div>
          <div class="box-body">
            <dl class="dl-horizontal">
                <dt>Definiciones generales</dt>
                  <dd>- Solamente se utilizarán las clases de la hoja de estilos predeterminada.</dd>
                  <dd>- No será permitido creación de clases personalizadas.</dd>
                  <dd>- Si cree necesario alterar el estilo de algún componente, se deberá solicitar a "custodio de estilos" u comité de calidad</dd>
                  <dd>- No enlazar imágenes de origenes distintos al dominio</dd>
                <hr>
                <dt>Colores</dt>
                  <dd>- Según hoja de estilos predeterminados. </dd>
                  <dd>- Se podrán utilizar los colores corporativos que estarán disponibles en la hoja de estilos.</dd>
                <hr>
                <dt>Iconos</dt>
                  <dd>- Se utilizará la fuente <a href='https://adminlte.io/themes/AdminLTE/pages/UI/icons.html'>Font Awesome</a>, embedida en el repositorio actual.</dd>
                <hr>
                <dt>Titulos-subtitulos-párrafos</dt>
                  <dd>- <a href="#titulos">Titulos: H2</a></dd>
                  <dd>- <a href="#subtitulos">Subtitulos: H3</a></dd>
                  <dd>- Parrafos: P</dd>
                  <dd>- Para iniciar toda página deberán emplearse los siguientes tags:
<pre><code>{&#37; block title &#37;}Titulo página{&#37; endblock title &#37;}
{&#37; block page_name &#37;}Título programa o módulo{&#37; endblock page_name &#37;}
{&#37; block page_description &#37;}Subtitulo o descripción breve{&#37; endblock page_description &#37;}</code></pre>
                  </dd>
                <hr>
                <dt><a href="#botones">Botones</a></dt>
                  <dd>NOTA: Usar únicamente control button de html5 para botones.</dd>
                  <dd>- Alineados a la derecha.</dd>
                  <dd>- Texto del botón: mayúscula inicial, sin puntos, en infinitivo, en singular.</dd>
                  <dd>- Tamaño: para <a href="#tablas">tablas</a> btn-sm, para lo demás por defecto (md). </dd>
                  <dd>- Colores:
                    <ul>
                     <li>Crear-modificar: Primary</li>
                     <li>Cancelar o cerrar: default</li>
                     <li>Eliminar: danger</li>
                     <li>Asociar: primary</li>
                    </ul>
                  </dd>
                  <dd>- Nombramiento: Crear/Guardar, Modificar/Actualizar, Eliminar</dd>
                  <dd>- Todo botón solo icono, debe llevar un tooltip</dd>
                  <dd><b>Para conocer todo sobre botones, haga <a href="https://adminlte.io/themes/AdminLTE/pages/UI/buttons.html">click aquí</a></b>
                <hr>
                <dt><a href="#mensajes">Mensajes</a></dt>
                  <dd>- Se utilizarán los que vienen con el bootstrap (class: alert) (Revisar mensaje con autoclose) para las acciones de respuesta del servidor</dd>
                  <dd>- Librería Noty para mensajes de solicud de confirmación</dd>
                <hr>
                <dt><a href="#modales">Modales</a></dt>
                  <dd>- Sólo boton x para cerrar (sin botón "cerrar" ni "cancelar")</dd>
                  <dd>- Color de fondo blanco</dd>
                  <dd>- Con footer - botones alineados a la derecha</dd>
                  <dd>Ejemplo modal: <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-default">Launch Default Modal</button>

                    <!-- inicio modal default -->
                    <div class="modal fade" id="modal-default">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Default Modal</h4>
                          </div>
                          <div class="modal-body">
                            <p>One fine body&hellip;</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-primary">Save changes</button>
                          </div>
                        </div>
                        <!-- /.modal-content -->
                      </div>
                      <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->

                <hr>
                <dt>Boxes</dt>
                  <dd>- Titulo: H3</dd>
                  <dd>- Con footer para los botones (dichos botones alineados a la derecha)</dd>
                  <dd>- Colores:
                    <ul>
                      <li>Azul oscuro: Informes, listados (en general sólo para visualización)</li>
                      <li>Verde oscuro: Formularios de ingreso o modificación</li>
                    </ul>
                  </dd>
                <hr>
                <dt><a href="#tablas">Tablas</a></dt>
                  <dd>- Alineación horizontal: texto a la izquierda, exceptuando numeros sumables a la derecha. Se centran textos como codificaciones, estilo: no striped … alineación vertical</dd>
                  <dd>- Para acciones en tablas, botón sin texto (icono y tooltip)(tamaño: btn-sm):</dd>
                  <dd>- Colores en: lineas, th, fondos de columnas, etc (proponer) ???</dd>
                  <dd>- Titulos de los header's (TH) basados en "verbose_name" de los modelos </dd>
                <hr>
                <dt><a href="#datatable">Datatables</a></dt>
                  <dd>- Inicializar por clase. Acompañado por ID.
                    <ul>
                      <li>Clases para tipos de datatables estándarizados</li>
                      <li>Parametrizar datatable para dos o más tablas en un html</li>
                    </ul>
                  </dd>
                  <dd>- Con estilo bootstrap</dd>
                <hr>
                <dt>Formularios</dt>
                  <dd>- Se diagramarán máximo en un ancho de col-md-6, con títulos a la izquierda de cada campo.</dd>
                  <dd>- Se podrán utilizar <a href="#nav-tabs">nav-tabs</a> si se considera necesario (por longitud)</dd>
                <hr>
                <dt>Controles</dt>
                  <dd>- <a href="#datepicker">Datepicker</a> y <a href="#timepicker">timePicker</a> incluido para las fechas. </dd>
                  <dd>- <a href="#datepicker">Select2</a> para búsqueda con autocompletado (maximo 500 registros)</dd>
                  <dd>- Checkbox y radiobuttons (icheck)</dd>
                  <dd>- Placeholder's basados en el atributo "help_text" de los modelos</dd>
                  <dd>- Label's basados en "verbose_name" de los modelos </dd>
                <hr>
                <dt>Migas de pan y menú lateral</dt>
                  <dd>- Aplica estándar de la plantilla (template base)[Temporalmente]</dd>
                <hr>
                <dt>Imágenes</dt>
                  <dd>- Se almacenan en la carpeta correspondiente: logos, iconos, imágenes, etc</dd>
              </dl>
          </div>
          <div class="box-footer">
            <i>Pendiente: librería para gráficas. Amcharts, inclusión librerías	vía CDN</i>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">

        <!-- Horizontal Form -->
        <div class="box box-warning">
          <div class="box-header with-border">
            <h3 class="box-title">Formularios</h3>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-toggle="modal" data-target="#modal-formularios"><i class="fa fa-question-circle"></i>
              </button>
            </div>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form class="form">
            <div class="box-body">
                              <!-- text input -->
                  <div class="form-group">
                    <label>Text</label>
                    <input type="text" class="form-control" placeholder="Enter ...">
                  </div>
                  <!-- textarea -->
                  <div class="form-group">
                    <label>Textarea</label>
                    <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
                  </div>

                  <!-- checkbox -->
                  <div class="form-group">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox">
                        Checkbox 1
                      </label>
                    </div>

                    <div class="checkbox">
                      <label>
                        <input type="checkbox">
                        Checkbox 2
                      </label>
                    </div>

                    <div class="checkbox">
                      <label>
                        <input type="checkbox" disabled>
                        Checkbox disabled
                      </label>
                    </div>
                  </div>

                  <!-- radio -->
                  <div class="form-group">
                    <div class="radio">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                        Option one is this and that&mdash;be sure to include why it's great
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                        Option two can be something else and selecting it will deselect option one
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
                        Option three is disabled
                      </label>
                    </div>
                  </div>

                  <!-- select -->
                  <div class="form-group">
                    <label>Select</label>
                    <select class="form-control">
                      <option>option 1</option>
                      <option>option 2</option>
                      <option>option 3</option>
                      <option>option 4</option>
                      <option>option 5</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label><a name="select2"></a>Select2 Multiple</label>
                    <select class="form-control select2" multiple="multiple" data-placeholder="Select a State"
                            style="width: 100%;">
                      <option>Alabama</option>
                      <option>Alaska</option>
                      <option>California</option>
                      <option>Delaware</option>
                      <option>Tennessee</option>
                      <option>Texas</option>
                      <option>Washington</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label>Select2 Minimal</label>
                    <select class="form-control select2" style="width: 100%;">
                      <option selected="selected">Alabama</option>
                      <option>Alaska</option>
                      <option>California</option>
                      <option>Delaware</option>
                      <option>Tennessee</option>
                      <option>Texas</option>
                      <option>Washington</option>
                    </select>
                  </div>

                  <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                          <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                          </button>
                        </span>
                  </div>
            </div>
          </form>
            <!-- /.box-body -->
            <div class="box-footer">
              <button type="submit" class="btn btn-success">Sign in</button>
              <button type="submit" class="btn btn-default">Cancel</button>
            </div>
            <!-- /.box-footer -->
          </form>
        </div>
        <!-- /.box -->
      </div>

      <!-- inicio modal default -->
      <div class="modal fade" id="modal-formularios">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Formularios</h4>
            </div>
            <div class="modal-body">
              <p>Formularios con borde warning (<samp>box-header</samp>). Informes con borde primary (<samp>box-primary</samp>)
              <pre>
              <code>
&lt;div class="box box-warning">
  &lt;div class="box-header with-border">
  &lt;h3 class="box-title">Formularios&lt;/h3>
&lt;/div>
&lt;div class="box-body">
&lt;/div>
&lt;div class="box-footer">
  &lt;button type="submit" class="btn btn-success">Enviar&lt;/button>
  &lt;button type="submit" class="btn btn-default">Cancel&lt;/button>
&lt;/div>
&lt;/div>
              </code>
            </pre>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->

    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="box box-primary">
            <div class="box-header">
              <h3 class="box-title"><a name="tablas"></a>Informes o listados (tablas)</h3>
              <div class="box-tools">
                <button type="submit" class="btn btn-primary btn-xs pull-right">Acción</button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <thead><tr><th>ID</th><th>User</th><th>Date</th><th>Status</th><th>Reason</th></tr></thead>
                <tbody>
                <tr>
                  <td>183</td>
                  <td>John Doe</td>
                  <td>11-7-2014</td>
                  <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                  <td align="center"><button type="button" class="btn btn-xs btn-success" data-toggle="tooltip" data-placement="auto" title="Agregar registro"><i class="fa fa-check"></i></button></td>
                </tr>
                <tr>
                  <td>183</td>
                  <td>John Doe</td>
                  <td>11-7-2014</td>
                  <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                  <td align="center"><button type="button" class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="auto" title="Otro evento X"><i class="fa fa-star"></i></button></td>
                </tr>
                <tr>
                  <td>219</td>
                  <td>Alexander Pierce</td>
                  <td>11-7-2014</td>
                  <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                  <td align="center"><button type="button" class="btn btn-xs btn-warning" data-toggle="tooltip" data-placement="auto" title="Editar registro"><i class="fa fa-pencil"></i></button></td>
                </tr>
                <tr>
                  <td>657</td>
                  <td>Bob Doe</td>
                  <td>11-7-2014</td>
                  <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                  <td align="center"><button type="button" class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="auto" title="Información adicional registro"><i class="fa fa-info"></i></button></td>
                </tr>
                <tr>
                  <td>175</td>
                  <td>Mike Doe</td>
                  <td>11-7-2014</td>
                  <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                  <td align="center"><button type="button" class="btn btn-xs btn-danger" data-toggle="tooltip" data-placement="auto" title="Eliminar registro"><i class="fa fa-remove"></i></button></td>
                </tr>
              </tbody></table>

              <div class="col-md-12">
              <h2>Table <a name="titulos"></a>(h2 title)</h2>
              <h3>Condensed <a name="subtitulos"></a>(h3 subtitle)</h3>
                    <table class="table table-condensed">
                    <thead>
                      <tr>
                      <th style="width: 10px">#</th>
                      <th>Task</th>
                      <th>Progress</th>
                      <th style="width: 40px">Label</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>1.</td>
                      <td>Update software</td>
                      <td>
                        <div class="progress progress-xs">
                          <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                        </div>
                      </td>
                      <td><span class="badge bg-red">55%</span></td>
                    </tr>
                    <tr>
                      <td>2.</td>
                      <td>Clean database</td>
                      <td>
                        <div class="progress progress-xs">
                          <div class="progress-bar progress-bar-yellow" style="width: 70%"></div>
                        </div>
                      </td>
                      <td><span class="badge bg-yellow">70%</span></td>
                    </tr>
                    <tr>
                      <td>3.</td>
                      <td>Cron job running</td>
                      <td>
                        <div class="progress progress-xs progress-striped active">
                          <div class="progress-bar progress-bar-primary" style="width: 30%"></div>
                        </div>
                      </td>
                      <td><span class="badge bg-light-blue">30%</span></td>
                    </tr>
                    <tr>
                      <td>4.</td>
                      <td>Fix and squish bugs</td>
                      <td>
                        <div class="progress progress-xs progress-striped active">
                          <div class="progress-bar progress-bar-success" style="width: 90%"></div>
                        </div>
                      </td>
                      <td><span class="badge bg-green">90%</span></td>
                    </tr>
                  </tbody>
                  </table>
                </div>
            </div>
            <!-- /.box-body -->
          </div>

      </div>
      <!--/.col (left) -->


      <!--/.col (right) -->
    </div>
    <!--/.row -->
    <div class="row">
      <div class="col-md-6">
        <h1>
        Timeline
        <small>example</small>
        </h1>
        <ul class="timeline">
           <!-- timeline time label -->
           <li class="time-label">
                 <span class="bg-red">
                   10 Feb. 2014
                 </span>
           </li>
           <!-- /.timeline-label -->
           <!-- timeline item -->
           <li>
             <i class="fa fa-envelope bg-blue"></i>

             <div class="timeline-item">
               <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>

               <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>

               <div class="timeline-body">
                 Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                 weebly ning heekya handango imeem plugg dopplr jibjab, movity
                 jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                 quora plaxo ideeli hulu weebly balihoo...
               </div>
               <div class="timeline-footer">
                 <a class="btn btn-primary btn-xs">Read more</a>
                 <a class="btn btn-danger btn-xs">Delete</a>
               </div>
             </div>
           </li>
           <!-- END timeline item -->
           <!-- timeline item -->
           <li>
             <i class="fa fa-user bg-aqua"></i>

             <div class="timeline-item">
               <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>

               <h3 class="timeline-header no-border"><a href="#">Sarah Young</a> accepted your friend request</h3>
             </div>
           </li>
           <!-- END timeline item -->
           <!-- timeline item -->
           <li>
             <i class="fa fa-comments bg-yellow"></i>

             <div class="timeline-item">
               <span class="time"><i class="fa fa-clock-o"></i> 27 mins ago</span>

               <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>

               <div class="timeline-body">
                 Take me to your leader!
                 Switzerland is small and neutral!
                 We are more like Germany, ambitious and misunderstood!
               </div>
               <div class="timeline-footer">
                 <a class="btn btn-warning btn-flat btn-xs">View comment</a>
               </div>
             </div>
           </li>
           <!-- END timeline item -->
           <!-- timeline time label -->
           <li class="time-label">
                 <span class="bg-green">
                   3 Jan. 2014
                 </span>
           </li>
           <!-- /.timeline-label -->
           <!-- timeline item -->

           <!-- END timeline item -->
           <li>
             <i class="fa fa-clock-o bg-gray"></i>
           </li>
         </ul>

        <div class="box box-primary">
          <div class="box-header">
            <h3 class="box-title"><a name="datepicker"></a>Datepicker y timepicker</h3>
          </div>
          <div class="box-body">
            <!-- Date -->
            <div class="form-group">
              <label>Date:</label>

              <div class="input-group date">
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
                <input type="text" class="form-control pull-right" id="fecha">
              </div>
              <!-- /.input group -->
            </div>
            <!-- /.form group -->

            <div class="bootstrap-timepicker">
              <div class="form-group">
                <label><a name="timepicker"></a>Time picker:</label>

                <div class="input-group">
                  <input type="text" class="form-control timepicker">

                  <div class="input-group-addon">
                    <i class="fa fa-clock-o"></i>
                  </div>
                </div>
                <!-- /.input group -->
              </div>
              <!-- /.form group -->
            </div>



          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->

        <div class="box box-solid">
          <div class="box-header with-border">
            <i class="fa fa-text-width"></i>

            <h3 class="box-title">Texto</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <p class="text-green">Class text-green to emphasize success</p>
            <p class="text-aqua">Class text-aqua to emphasize info</p>
            <p class="text-light-blue">Class text-light-blue to emphasize info (2)</p>
            <p class="text-red">Class text-red to emphasize danger</p>
            <p class="text-yellow">Class text-yellow to emphasize warning</p>
            <p class="text-muted">Class text-muted to emphasize general</p>

            <p class="text-success">Class text-success to emphasize success</p>
            <p class="text-primary">Class text-primary to emphasize primary</p>
            <p class="text-danger">Class text-danger to emphasize danger</p>
            <p class="text-warning">Class text-warning to emphasize warning</p>
            <p class="text-info">Class text-info to emphasize info</p>
          </div>
          <!-- /.box-body -->
        </div>


        <div class="box box-primary">
          <div class="box-header">
            <h3 class="box-title"><a name="botones"></a><a name="mensajes"></a>Notify</h3>
          </div>
          <div class="box-body">
            <button class="btn btn-danger" id="noty-danger" >Error</button>
            <button class="btn btn-success" id="noty-success" >Success</button>
            <button class="btn btn-warning" id="noty-warning" >Warning</button>
            <button class="btn btn-info" id="noty-info" >Info</button>
            <button class="btn btn-default" id="noty-notification" >Notification</button>

            <h4>Alert:</h4>
            <div class="alert alert-danger" role="alert">
              <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
              <span class="sr-only">Error:</span>
              Enter a valid email address
            </div>
          </div>
          <!-- /.box-body -->


        </div>
        <!-- /.box -->


          <!-- Custom Tabs -->
          <a name="nav-tabs"></a>
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab_1" data-toggle="tab">Tab 1</a></li>
              <li><a href="#tab_2" data-toggle="tab">Tab 2</a></li>
              <li class="disabled"><a href="#tab_3" data-toggle="tab" >Tab 3 disabled</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  Dropdown <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                  <li role="presentation" class="divider"></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                </ul>
              </li>
              <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_1">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_2">
                The European languages are members of the same family. Their separate existence is a myth.
                For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ
                in their grammar, their pronunciation and their most common words. Everyone realizes why a
                new common language would be desirable: one could refuse to pay expensive translators. To
                achieve this, it would be necessary to have uniform grammar, pronunciation and more common
                words. If several languages coalesce, the grammar of the resulting language is more simple
                and regular than that of the individual languages.
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_3">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                It has survived not only five centuries, but also the leap into electronic typesetting,
                remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                like Aldus PageMaker including versions of Lorem Ipsum.
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.custom tabs -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title"><a name="datatable"></a>Data Table With Full Features</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover dt-responsive">
                <thead>
                <tr><th>Rendering engine</th><th>Browser</th><th>Platform(s)</th><th>Engine version</th><th>CSS grade</th></tr>
                </thead>
                <tbody>
                <tr><td>Trident</td><td>Internet Explorer 4.0</td><td>Win 95+</td><td> 4</td><td>X</td></tr>
                <tr><td>Trident</td><td>Internet Explorer 5.0</td><td>Win 95+</td><td>5</td><td>C</td></tr>
                <tr><td>Trident</td><td>Internet Explorer 5.5</td><td>Win 95+</td><td>5.5</td><td>A</td></tr>
                <tr><td>Trident</td><td>Internet Explorer 6</td><td>Win 98+</td><td>6</td><td>A</td></tr>
                <tr><td>Trident</td><td>Internet Explorer 7</td><td>Win XP SP2+</td><td>7</td><td>A</td></tr>
                <tr><td>Trident</td><td>AOL browser (AOL desktop)</td><td>Win XP</td><td>6</td><td>A</td></tr>
                <tr><td>Gecko</td><td>Firefox 1.0</td><td>Win 98+ / OSX.2+</td><td>1.7</td><td>A</td></tr>
                <tr><td>Gecko</td><td>Firefox 1.5</td><td>Win 98+ / OSX.2+</td><td>1.8</td><td>A</td></tr>
                <tr><td>Gecko</td><td>Firefox 2.0</td><td>Win 98+ / OSX.2+</td><td>1.8</td><td>A</td></tr>
                <tr><td>Gecko</td><td>Firefox 3.0</td><td>Win 2k+ / OSX.3+</td><td>1.9</td><td>A</td></tr>
                <tr><td>Gecko</td><td>Camino 1.0</td><td>OSX.2+</td><td>1.8</td><td>A</td></tr>
                <tr><td>Gecko</td><td>Camino 1.5</td><td>OSX.3+</td><td>1.8</td><td>A</td></tr>
                <tr><td>Gecko</td><td>Netscape 7.2</td><td>Win 95+ / Mac OS 8.6-9.2</td><td>1.7</td><td>A</td></tr>
                <tr><td>Gecko</td><td>Netscape Browser 8</td><td>Win 98SE+</td><td>1.7</td><td>A</td></tr>
                <tr><td>Gecko</td><td>Netscape Navigator 9</td><td>Win 98+ / OSX.2+</td><td>1.8</td><td>A</td></tr>
                <tr><td>Gecko</td><td>Mozilla 1.0</td><td>Win 95+ / OSX.1+</td><td>1</td><td>A</td></tr>
                <tr><td>Gecko</td><td>Mozilla 1.1</td><td>Win 95+ / OSX.1+</td><td>1.1</td><td>A</td></tr>
                <tr><td>Gecko</td><td>Mozilla 1.2</td><td>Win 95+ / OSX.1+</td><td>1.2</td><td>A</td></tr>
                <tr><td>Gecko</td><td>Mozilla 1.3</td><td>Win 95+ / OSX.1+</td><td>1.3</td><td>A</td></tr>
                <tr><td>Gecko</td><td>Mozilla 1.4</td><td>Win 95+ / OSX.1+</td><td>1.4</td><td>A</td></tr>
                <tr><td>Gecko</td><td>Mozilla 1.5</td><td>Win 95+ / OSX.1+</td><td>1.5</td><td>A</td></tr>
                <tr><td>Gecko</td><td>Mozilla 1.6</td><td>Win 95+ / OSX.1+</td><td>1.6</td><td>A</td></tr>
                <tr><td>Gecko</td><td>Epiphany 2.20</td><td>Gnome</td><td>1.8</td><td>A</td></tr>
                <tr><td>Webkit</td><td>Safari 1.2</td><td>OSX.3</td><td>125.5</td><td>A</td></tr>
                <tr><td>Webkit</td><td>Safari 1.3</td><td>OSX.3</td><td>312.8</td><td>A</td></tr>
                <tr><td>Webkit</td><td>Safari 2.0</td><td>OSX.4+</td><td>419.3</td><td>A</td></tr>
                <tr><td>Webkit</td><td>iPod Touch / iPhone</td><td>iPod</td><td>420.1</td><td>A</td></tr>
                <tr><td>Webkit</td><td>S60</td><td>S60</td><td>413</td><td>A</td></tr>
                <tr><td>Presto</td><td>Opera 7.0</td><td>Win 95+ / OSX.1+</td><td>-</td><td>A</td></tr>
                <tr><td>Presto</td><td>Opera 7.5</td><td>Win 95+ / OSX.2+</td><td>-</td><td>A</td></tr>
                <tr><td>Presto</td><td>Opera 8.0</td><td>Win 95+ / OSX.2+</td><td>-</td><td>A</td></tr>
                <tr><td>Presto</td><td>Opera 8.5</td><td>Win 95+ / OSX.2+</td><td>-</td><td>A</td></tr>
                <tr><td>Presto</td><td>Opera 9.0</td><td>Win 95+ / OSX.3+</td><td>-</td><td>A</td></tr>
                <tr><td>Presto</td><td>Opera for Wii</td><td>Wii</td><td>-</td><td>A</td></tr>
                <tr><td>Presto</td><td>Nokia N800</td><td>N800</td><td>-</td><td>A</td></tr>
                <tr><td>Presto</td><td>Nintendo DS browser</td><td>Nintendo DS</td><td>8.5</td><td>C/A<sup>1</sup></td></tr>
                <tr><td>KHTML</td><td>Konqureror 3.1</td><td>KDE 3.1</td><td>3.1</td><td>C</td></tr>
                <tr><td>KHTML</td><td>Konqureror 3.3</td><td>KDE 3.3</td><td>3.3</td><td>A</td></tr>
                <tr><td>KHTML</td><td>Konqureror 3.5</td><td>KDE 3.5</td><td>3.5</td><td>A</td></tr>
                <tr><td>Tasman</td><td>Internet Explorer 4.5</td><td>Mac OS 8-9</td><td>-</td><td>X</td></tr>
                <tr><td>Tasman</td><td>Internet Explorer 5.1</td><td>Mac OS 7.6-9</td><td>1</td><td>C</td></tr>
                <tr><td>Tasman</td><td>Internet Explorer 5.2</td><td>Mac OS 8-X</td><td>1</td><td>C</td></tr>
                </tbody>
                <tfoot>
                <tr><th>Rendering engine</th>
                  <th>Browser</th>
                  <th>Platform(s)</th>
                  <th>Engine version</th>
                  <th>CSS grade</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
    </div>

{% endblock content %}
{% block scripts %}
  $('.select2').select2()
  $('#fecha').datepicker({
    autoclose: true
  })
  $('.timepicker').timepicker({
    showInputs: false
  })
  $('#example2').DataTable({
    'paging'      : true,
    'lengthChange': true,
    'searching'   : true,
    'ordering'    : true,
    'info'        : true,
    'autoWidth'   : true,
    "language": {
            "url": "../static/datatables/lang/Spanish.json"
        }
  })
  function generate(type, text) {
      var n = noty({
          text        : text,
          type        : type,
          dismissQueue: true,
          timeout     : false,
          layout      : 'topRight',
          closeWith   : ['button'],
          theme       : 'metroui',
          maxVisible  : 10,
          progressBar: true,
          animation   : {
              open  : 'animated bounceInRight',
              close : 'animated bounceOutRight',
              easing: 'swing',
              speed : 700
          }
      });
      return n;
  }
  $("#noty-success").click(function(){
    generate("success", 'Mail server was updated. See changelog About 2 hours ago')
  });
  $("#noty-danger").click(function(){
    generate("error", '<i class="fa fa-heart"></i> You</span>r latest post was liked by Audrey Mall 35 minutes ago')
  });
  $("#noty-warning").click(function(){
    generate("warning", '<i class="fa fa-tasks"></i> There are 6 new tasks waiting for you. Don\'t forget! About 3 hours ago')
  });
  $("#noty-info").click(function(){
    generate("information", '<i class="fa fa-shopping-cart"></i> Eugene ordered 2 copies of OEM license 14 minutes ago')
  });
  $("#noty-notification").click(function(){
    generate("notification", '<i class="fa fa-shopping-cart text-info"></i> Eugene ordered 2 copies of OEM license 14 minutes ago')
  });

  /*
  <!--
  layout: 'top',
  theme: 'defaultTheme', // or relax, bootstrapTheme, metroui
  type: 'alert', // success, error, warning, information, notification
  text: '', // [string|html] can be HTML or STRING

  dismissQueue: true, // [boolean] If you want to use queue feature set this true
  force: false, // [boolean] adds notification to the beginning of queue when set to true
  maxVisible: 5, // [integer] you can set max visible notification count for dismissQueue true option,

  template: '<div class="noty_message"><span class="noty_text"></span><div class="noty_close"></div></div>',

  timeout: false, // [integer|boolean] delay for closing event in milliseconds. Set false for sticky notifications
  progressBar: false, // [boolean] - displays a progress bar

  animation: {
    open: {height: 'toggle'}, // or Animate.css class names like: 'animated bounceInLeft'
    close: {height: 'toggle'}, // or Animate.css class names like: 'animated bounceOutLeft'
    easing: 'swing',
    speed: 500 // opening & closing animation speed
  },
  closeWith: ['click'], // ['click', 'button', 'hover', 'backdrop'] // backdrop click will close all notifications

  modal: false, // [boolean] if true adds an overlay
  killer: false, // [boolean] if true closes all notifications and shows itself

  callback: {
    onShow: function() {},
    afterShow: function() {},
    onClose: function() {},
    afterClose: function() {},
    onCloseClick: function() {},
  },

  buttons: false // [boolean|array] an array of buttons, for creating confirmation dialogs.
  -->
  */
{% endblock %}
