{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="jumbotron" style="text-align: center;">
			{% if project_name%}
			<h2><strong>{{ project_name }}</strong></h2>
			{% endif %}
		{% if request.user.is_authenticated %}
			<br>
			{% if  project_name %}
				<p class="lead"> Estás autenticado con el usuario <strong> {{ request.user.username|title }} </strong><br>
			{% endif %}
			{% if request.user.groups.all %}
				Tus grupos son:<br>

				{% for group in request.user.groups.all %}

				<strong>{{ group }}<br></strong>

				{% endfor %}
			</p>
			{% else %}
				{% if request.user.is_superuser %}
					<strong> Hola, Super usuario.</strong>
					<a href="{% url 'admin:index' %}">Ir al sitio de administracíon</a>
				{% else %}
					<strong>Tu usuario no tiene ningún grupo asociado, notifica al administrador</strong>
				{% endif %}
			{% endif %}

		{% else %}
		<br><br>
		<a href="{% url 'login' %}" class="btn btn-lg btn-success">Por favor inicia sesión</a>
		{% endif%}
		</div>
	</div>
</div>
{% endblock %}
