<!-- Modal choices -->
<div class="modal fade" tabindex="-1" role="dialog" id="id_modal_{{ field.html_name }}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Seleccione un {{ field.label|lower }}</h4>
            </div>
            <div class="modal-body">
                <table id="id_table_{{ field.html_name }}" class="table table-striped datatable" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for value, text in field_hidden.field.choices %}

                            <tr>
                                <td style="width:95%">{{ text }}</td>
                                <td style="width:5%"><input type="button" value="+" class="roles btn btn-default" onclick="set_to_input_hidden('{{ field_hidden.auto_id }}', {{ value }}, '{{ field.auto_id }}', '{{ text }}');" data-dismiss="modal"></td>
                            </tr>

                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
