{% load widget_tweaks %}
{% if not type == 'hidden' %}

    <div class="form-group {% if field.errors %}has-error{% endif %}">
        <label class="col-md-3 text-right control-label">

            {{ field.label }}
            {% if field.field.required %}

                <span class="text-required">*</span>

             {% endif %}

         </label>
         <div class="col-md-9">

            {% if type == 'date' %}
              <input type="text" class="form-control datepicker" name = "{{ field.html_name }}" id ="{{ field.auto_id }}" placeholder="{{ field.help_text }}" {% if field.field.required %}required{% endif %} value="{{ field.value|date:"d\/m\/Y" }}">
            {% elif type == 'check' %}
                {{ field|add_class:"check" }}
            {% elif type == 'radio' %}
                {{ field|add_class:"radio" }}
            {% elif type == 'date' %}
                {{ field|add_class:"date" }}
            {% elif type == 'disabled' %}
                {{ field|add_class:"non-textarea form-control" | attr:"readonly"}}
            {% elif type == 'file' %}
                {{ field }}
            {% elif type == 'select2' %}
                {{ field|add_class:"form-control select2" }}
            {% elif type == 'choices_modal' %}
                <div class="input-group">
                    {{ field|add_class:"form-control"|attr:"readonly"}}
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" data-toggle="modal" data-target="#id_modal_{{ field.html_name }}" >
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            {% else %}
                {{ field|add_class:"non-textarea form-control" }}
            {% endif %}
         </div>
         {% for error in field.errors %}
             <div class="text-danger col-md-9 col-md-offset-3 ">- {{ error }}</div>
         {% endfor %}
     </div>

 {% else %}

     {{ field }}

 {% endif %}
