<div class="row">
  <div class="col-md-11 col-md-offset-1">
    <div class="box box-solid box-help collapsed-box">
      <div class="box-header with-border">
        <h5 class="box-title"><i class="fa fa-question"></i> {{ note_title }}</h5>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
          </button>
        </div>
      </div>
      <div class="box-body" style="">
        {{ note_text }}
      </div>
    </div>
  </div>
</div>
